<!--
Launch file for the M_arm_controls.py node
-->
<launch>
	

	<!-- Joystick Node -->
	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" value="/dev/input/js2" />
		<param name="deadzone" value="0.0" />
		<param name="autorepeat_rate" value="20" />
	</node>

	<!-- Manual Arm Controls Node -->
	<node pkg="robotic_arm_package" type="M_arm_controls.py" name="M_arm_controls" clear_params="true" output="screen" respawn="true">
    		<param name="serial_dev" value="/dev/arm_mega" />
    		<param name="baudrate" type="int" value="115200"/>
    		<param name="timeout_delay" type="double" value="0.1"/>
    		<param name="deadband" type="double" value="0.35"/>
    		<param name="actuator_cap" type="int" value="600"/>
	</node>

</launch>
