<launch>
   <!-- camera_name is the name the ros topics will be associated with. This should be unique. -->
   <arg name="camera_name" default="webcam" />
   <!-- video_stream_provider is the number of the video device being used under /dev (e.g. value of
   7 for /dev/video7 device) -->
   <arg name="video_stream_provider" default="0" />
   <!-- buffer_queue_size is the size of the buffer of images from the camera. Images from the
   buffer are consumed and published to the topic. Lower number would mean less of a delay. Higher
   number would mean lower likehood of image loss-->
   <arg name="buffer_queue_size" default="10" />
   <include file="$(find video_stream_opencv)/launch/camera.launch" pass_all_args="true">
      <arg name="set_camera_fps" value="24" />
      <arg name="fps" value="24" />
      <arg name="frame_id" value="webcam" />
      <arg name="flip_horizontal" value="false" />
      <arg name="flip_vertical" value="false" />
      <!-- visualize defines whether or not to open a window to see the camera's output -->
      <arg name="visualize" value="true" />
   </include>
</launch>