[submodule "src/external_packages/joystick_drivers"]
	path = src/external_packages/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
[submodule "src/external_packages/usb_cam"]
	path = src/external_packages/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "src/external_packages/rosserial"]
	path = src/external_packages/rosserial
	url = https://github.com/ros-drivers/rosserial
[submodule "src/external_packages/rplidar_ros"]
	path = src/external_packages/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros
[submodule "src/external_packages/video_stream_opencv"]
	path = src/external_packages/video_stream_opencv
	url = https://github.com/ros-drivers/video_stream_opencv
[submodule "src/external_packages/rviz"]
	path = src/external_packages/rviz
	url = https://github.com/ros-visualization/rviz
[submodule "src/external_packages/slam_gmapping"]
	path = src/external_packages/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
