build/
bin/
devel/
src/CMakeLists.txt
src/chassis_controls/bin/
install/
log/
.cache/
compile_commands.json
.ipynb_checkpoints/
.virtual_documents/
*.ikcache

**/.vscode/
**/.vs/
**.pyc
**.pyi

.DS_Store
