<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="drive_ros2_control" params="name use_gazebo:=^|true">

    <ros2_control name="${name}" type="system">

        <hardware>
            <xacro:if value="${use_gazebo}">
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </xacro:if>
            <xacro:unless value="${use_gazebo">
                <plugin>mock_components/GenericSystem</plugin>
            </xacro:unless>
        </hardware>

        <joint name="q1"> <!-- FL_wheel -->
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="q2"> <!-- FR_wheel -->
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="q3"> <!-- RR_wheel -->
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="q4"> <!-- RL_wheel -->
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </ros2_control>
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find autonomous_navigation)/config/rover_ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
