<launch>
    <!-- launch drive -->
    <include file="$(find teleop_twist_joy-melodic-devel)/launch/roverPC.launch" pass_all_args="true" />

    <!-- run rosserial node -->
    <node pkg="rosserial_python" type="serial_node.py" name="LD_rosserial_python_node" output="screen" args="echo weather_logger">
        <!-- <param name="arduino_port" value="/dev/ttyACM0" /> -->
    </node>

    <!-- launch GPS -->
    <include file="$(find gps_node)/launch/gps_node.launch" pass_all_args="true" />

    <!-- launch drive camera -->
    <include file="$(find camera_nodes)/launch/cam.launch" pass_all_args="true">
        <arg name="camera_name" value="drive_cam" /> <!-- Name that the ros topics will be associated with. Should be unique. -->
        <arg name="video_stream_provider" value="0" /> <!-- the number of the video device being used under /dev -->
        <arg name="frame_id" value="drive_cam" />
    </include>

    <!-- launch intramodule camera -->
    <include file="$(find camera_nodes)/launch/cam.launch" pass_all_args="true">
        <arg name="camera_name" value="intramodule_cam" /> 
        <arg name="video_stream_provider" value="1" /> 
        <arg name="frame_id" value="intramodule_cam" />
    </include>

    <!-- launch microscope camera -->
    <include file="$(find camera_nodes)/launch/cam.launch" pass_all_args="true">
        <arg name="camera_name" value="microscope_cam" /> 
        <arg name="video_stream_provider" value="2" /> 
        <arg name="frame_id" value="microscope_cam" />
    </include>

    <!-- launch external module camera -->
    <include file="$(find camera_nodes)/launch/cam.launch" pass_all_args="true">
        <arg name="camera_name" value="external_module_cam" />
        <arg name="video_stream_provider" value="3" /> 
        <arg name="frame_id" value="external_module_cam" />
    </include>
</launch>