<!-- SAR rover PC launch script
     Make sure the second baseStationPC.launch script is also running
-->

<launch>
  <!-- Arguments: Modify these as needed -->
  <!-- Microcontroller Device Argument -->
  <arg name="serial_dev" default="/dev/drive_nano"/>

  <!-- Microcontroller Drive Node -->
  <node pkg="teleop_twist_joy" type="simple_drive.py" name="simple_drive" clear_params="true" output="screen" respawn="true">
    <param name="serial_dev" value="$(arg serial_dev)" />
    <param name="baudrate" type="int" value="9600"/>
    <!-- INPUT TOPICS -->
    <remap from="cmd_vel" to="cmd_vel" />
  </node>
</launch>