# Set up symlinks to make arduinos easier to identify in /dev
KERNEL=="ttyACM*", ATTRS{serial}=="5583834373335170E1C0", SYMLINK+="navsensors_uno"
KERNEL=="ttyACM*", ATTRS{serial}=="5573630373135190D121", SYMLINK+="lifedetect_mega"

# Rover drive system arduino nano
# This nano has no serial number to identify it with
KERNEL=="ttyUSB*", ATTRS{idProduct}=="7523", SYMLINK+="drive_nano"

# Robotic Arm Symlinks
KERNEL=="ttyACM*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0042", SYMLINK+="arm_mega"
SUBSYSTEM=="input", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c215", SYMLINK+="arm_logitech"
SUBSYSTEM=="input", ATTRS{idVendor}=="1189", ATTRS{idProduct}=="8890", SYMLINK+="arm_keyboard"
SUBSYSTEM=="input", ATTRS{idVendor}=="256f", ATTRS{idProduct}=="c62e", SYMLINK+="arm_spacemouse"
