<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <xacro:arg name="use_gazebo" default="false"/>

    <xacro:property name="FL_id" value="20"/>
    <xacro:property name="FR_id" value="40"/>
    <xacro:property name="RR_id" value="10"/>
    <xacro:property name="RL_id" value="30"/>
    <xacro:property name="Kp_FL" value="0.4"/>
    <xacro:property name="Ki_FL" value="0.002"/>
    <xacro:property name="Kd_FL" value="160.0"/>
    <xacro:property name="Kp_FR" value="0.4"/>
    <xacro:property name="Ki_FR" value="0.002"/>
    <xacro:property name="Kd_FR" value="160.0"/>
    <xacro:property name="Kp_RR" value="0.4"/>
    <xacro:property name="Ki_RR" value="0.002"/>
    <xacro:property name="Kd_RR" value="160.0"/>
    <xacro:property name="Kp_RL" value="0.4"/>
    <xacro:property name="Ki_RL" value="0.002"/>
    <xacro:property name="Kd_RL" value="160.0"/>
    <xacro:property name="wheel_diameter" value="0.40601"/>
    <xacro:property name="wheel_encoder_counts_per_revolution" value="4096"/>

    <xacro:include filename="drive_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="drive_ros2_control.xacro" />


    <xacro:drive_ros2_control 
        name="DriveSystem"
        use_gazebo="$(arg use_gazebo)"
    />

</robot>
