<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:include filename="drive_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="drive_ros2_control.xacro" />


    <xacro:drive_ros2_control 
        name="DriveSystem"
        use_gazebo="$(arg use_gazebo)"
    />

</robot>
