<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uorover_ik_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import uorover_ik_urdf urdf file -->
    <xacro:include filename="$(find arm_urdf)/urdf/uorover_ik_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="uorover_ik_urdf.ros2_control.xacro" />


    <!-- <xacro:uorover_ik_urdf_ros2_control name="ArmSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <xacro:uorover_ik_urdf_ros2_control name="ArmSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
