<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="uorover_ik_urdf_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!--<plugin>mock_components/GenericSystem</plugin>-->
                <plugin>arm_controls/ArmSystem</plugin>
            </hardware>

            <!--Order of declarations for joints and interfaces has an impact on the hardware interface code so be careful!-->
            <joint name="q1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <!--The initial position is taken from initial_positions.yaml-->
                  <param name="initial_value">${initial_positions['q1']}</param>
                </state_interface>
                <!--We currently don't publish any velocity feedback so all of the velocity interfaces are 0 by default-->
                <state_interface name="velocity"/>
            </joint>
            <joint name="q2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q5"> 
                <command_interface name="position"/>
                <!--Temporarily adding velocity control because we do not have positional feedback on this joint-->
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q6">
                <command_interface name="position"/>
                <!--Temporarily adding velocity control because we do not have positional feedback on this joint-->
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <gpio name="stepper_1">
		            <command_interface name="command"/>
                <state_interface name="feedback"/>
            </gpio>
            <gpio name="stepper_2">
		            <command_interface name="command"/>
                <state_interface name="feedback"/>
            </gpio>
            <gpio name="stepper_3">
              	<command_interface name="command"/>
                <state_interface name="feedback"/>
            </gpio>
            <gpio name="stepper_4">
             	 <command_interface name="command"/>
               <state_interface name="feedback"/>
            </gpio>
            <gpio name="laser">
             	 <command_interface name="command"/>
               <state_interface name="feedback"/>
            </gpio>
            <gpio name="emergency_stop">
            	<command_interface name="command"/>
              <state_interface name="feedback"/>
	          </gpio>
        </ros2_control>
    </xacro:macro>
</robot>
