<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="uorover_ik_urdf_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="q1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="q6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['q6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
