<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="uorover_ik_urdf">
<link name="base_footprint">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
</link>

<joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.001" rpy="0 0 0" />
    <parent link="L1"/>
    <child link="base_footprint" />
</joint>
  <link
    name="L1">
    <inertial>
      <origin
        xyz="-0.0889039999999999 -0.00216367371297598 0.0061926513443181"
        rpy="0 0 0" />
      <mass
        value="1.11567552816617" />
      <inertia
        ixx="0.00670675835729054"
        ixy="-1.72969439227837E-18"
        ixz="-2.42074452512688E-21"
        iyy="0.00350969062967327"
        iyz="-8.11762714426985E-06"
        izz="0.0101871515158493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L1.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L2">
    <inertial>
      <origin
        xyz="-0.00368694035818645 -3.21494672345969E-05 0.0956990751549506"
        rpy="0 0 0" />
      <mass
        value="1.18613336880623" />
      <inertia
        ixx="0.0014201652113015"
        ixy="2.76657889186741E-11"
        ixz="0.000221872575909511"
        iyy="0.00150405295307427"
        iyz="-1.28741499624588E-10"
        izz="0.00193692878914472" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q1"
    type="revolute">
    <origin
      xyz="-0.0889039999999999 -0.0484047735988484 0.0127"
      rpy="0 0 0" />
    <parent
      link="L1" />
    <child
      link="L2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1415"
    upper="3.1415"
    effort="0"
    velocity="0"/>
  </joint>
  <link
    name="L3">
    <inertial>
      <origin
        xyz="0.25167098941159 0.00314599624516848 0.00045160017119715"
        rpy="0 0 0" />
      <mass
        value="1.0549508173511" />
      <inertia
        ixx="0.000628061590090841"
        ixy="-5.98815097701081E-06"
        ixz="-3.58336064559531E-13"
        iyy="0.0200045124275016"
        iyz="1.32565003895787E-13"
        izz="0.0198519941643707" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q2"
    type="revolute">
    <origin
      xyz="0.00685808437219609 0 0.110999999999996"
      rpy="1.57079632679491 -1.51729393736529 3.14159265358979" />
    <parent
      link="L2" />
    <child
      link="L3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1415"
    upper="3.1415"
    effort="0"
    velocity="0"/>
  </joint>
  <link
    name="L4">
    <inertial>
      <origin
        xyz="0.0724577913642345 -7.65371123567782E-06 0.00966446663630576"
        rpy="0 0 0" />
      <mass
        value="1.69913449694391" />
      <inertia
        ixx="0.00113988410083823"
        ixy="4.87653122834321E-08"
        ixz="4.90111264903512E-07"
        iyy="0.00805881384546574"
        iyz="9.93393014315408E-09"
        izz="0.00750229198284252" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q3"
    type="revolute">
    <origin
      xyz="0.50000000000005 0 -9.84000539984223E-05"
      rpy="-3.14159265358978 0 2.35890188320883" />
    <parent
      link="L3" />
    <child
      link="L4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1415"
    upper="3.1415"
    effort="0"
    velocity="0"/>
  </joint>
  <link
    name="L5">
    <inertial>
      <origin
        xyz="0.077844 0.0091065 1.9225E-05"
        rpy="0 0 0" />
      <mass
        value="0.76537" />
      <inertia
        ixx="0.00054203"
        ixy="-1.2252E-07"
        ixz="-1.0841E-06"
        iyy="0.00043298"
        iyz="7.4122E-08"
        izz="0.00047905" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q4"
    type="revolute">
    <origin
      xyz="0.25 0 0.000139587202491478"
      rpy="0 0 0" />
    <parent
      link="L4" />
    <child
      link="L5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1415"
    upper="3.1415"
    effort="0"
    velocity="0"/>
  </joint>
  <link
    name="L6">
    <inertial>
      <origin
        xyz="-0.0050341 0.00054854 0.050569"
        rpy="0 0 0" />
      <mass
        value="0.46655" />
      <inertia
        ixx="0.00016561"
        ixy="-6.7947E-08"
        ixz="2.1324E-06"
        iyy="0.00018269"
        iyz="-4.0038E-07"
        izz="0.000225" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q5"
    type="continuous">
    <origin
      xyz="0.1373 0 0.00014345889109937"
      rpy="0 1.5707963267949 0" />
    <parent
      link="L5" />
    <child
      link="L6" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="L7">
    <inertial>
      <origin
        xyz="0.023439 -6.8897E-05 -0.0032675"
        rpy="0 0 0" />
      <mass
        value="0.027395" />
      <inertia
        ixx="7.5105E-07"
        ixy="-2.8505E-21"
        ixz="-2.3682E-08"
        iyy="1.0292E-05"
        iyz="8.6482E-22"
        izz="1.0861E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_urdf/meshes/visual/L7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="q6"
    type="revolute">
    <origin
      xyz="-0.0179216519246285 0.00323035087726131 0.0792642765878136"
      rpy="1.5707963267949 -0.0272761093214972 3.14159265358978" />
    <parent
      link="L6" />
    <child
      link="L7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1415"
    upper="3.1415"
    effort="0"
    velocity="0"/>
  </joint>
</robot>
